<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
            3megawatt App
        {% endblock %}
    </title>
    {% load bootstrap3 %}
    {% load tags %}

    {% url 'root'  as root_url%}
    {% url 'sites' as sites_url %}
    {% url 'summary_sum' as sum_url %}
    {% url 'summary_avg' as avg_url %}
</head>
<body>
    {% block nav %}
    <nav class='navbar navbar-default navbar-top'>
        <div class='container'>
            <div class='navbar-header'>
              <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
              </button>
            </div>
            <div id='navbar' class='navbar-collapse collapse'>
              <ul class='nav navbar-nav'>
                {% if request.path == root_url %}
                    <li class='{% active request root_url %}'><a href='{{ sites_url }}/'>Sites</a></li>
                {% else %}
                <li class='{% active request sites_url %}'><a href='{{ sites_url }}/'>Sites</a></li>
                {% endif %}
                <li class='{% active request sum_url %}'><a href='{{ sum_url }}/'>Summary</a></li>
              </ul>
            </div>
        </div>
    </nav>
    {% endblock %}

    {% block body %}
    {% endblock %}
</body>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</html>