{% extends "base.html" %}

{% block body %}
    <div class='container'>
        <h1>
            Site Details - {% with entries|first as entry %}
            {{ entry.site.name }}
            {% endwith %}
        </h1>
        <table class="table">
            <thead>
                <tr>
                    <td>Date</td>
                    <td>Value A</td>
                    <td>Value B</td>
                </tr>
            </thead>
            <tbody>
            {% for entry in entries %}
                <tr>
                    <td>{{ entry.date }}</td>
                    <td>{{ entry.val_a }}</td>
                    <td>{{ entry.val_b }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}